<div class="col s12 page">

  <%= render '/partials/flash_messages' %>

  <h1>Edit this question</h1>
  <%= link_to 'Back', questions_path, :class => 'no-mobile-display' %>


  <%= form_for @question do |f| %>
    <ul>
      <li><%= f.label :prompt, 'Prompt' %>
          <%= f.text_field :prompt, :required => true %></li>
      <li><%= f.label :answer, 'Response' %>
          <%= f.text_area :answer, :class => "materialize-textarea", :required => true %></li>
      <%= f.submit 'Save', :class => 'waves-effect waves-light btn' %>
    </ul>
  <% end %>


  <%= link_to question_path(@question), data: {title: 'Permanently delete', confirm: "Are you sure? This action cannot be undone."}, method: :delete  do %>Delete<% end %>
</div>
