<div class="col s12 page">
  <%= render '/partials/flash_messages' %>
  <p>
    <%= link_to interviews_path, :class => 'no-mobile-display' do %><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK<% end %>
    <span class="right">
      <%= link_to question_path(@question), data: {title: 'Permanently delete', confirm: "Are you sure? This action cannot be undone."}, :class => 'small-delete-link', method: :delete  do %>
        <i class="fa fa-times" aria-hidden="true"></i> DELETE
      <% end %>
    </span>
  </p>

  <h4 class="center-align">Edit Question</h4>
  <div class="col s12">
    <%= form_for @question do |f| %>
      <ul>
        <li><%= f.label :prompt, 'Prompt' %>
            <%= f.text_field :prompt, :required => true %></li>
        <li><%= f.label :answer, 'Response' %>
            <%= f.text_area :answer, :class => "materialize-textarea", :required => true %></li>
        <div class="center-align"><%= f.submit 'Save Changes', :class => 'waves-effect waves-light btn' %></div>
      </ul>
    <% end %>
  </div>

</div>
