<h1>Prepare yourself by asking good questions!</h1>
<%= link_to 'Back', questions_path %>


<%= form_for @question, method: :post do |f| %>
  <ul>
    <li><%= f.label :prompt, 'Prompt' %>
        <%= f.text_field :prompt, :required => true %></li>
    <li><%= f.label :answer, 'Response' %>
        <%= f.text_area :answer, :class => "materialize-textarea", :required => true %></li>
    <%= f.submit 'Save' %>
  </ul>
<% end %>
