<div class="col s12 m12 l12 page">

  <p>
    <%= link_to interview_path, :class => 'no-mobile-display' do %><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK<% end %>
  </p>

  <div class="col s12">
    <%= form_for @interview do |f| %>
      <ul>
        
        <!-- BASIC INFO FOR INTERVIEW -->
        <h5 class="form-header">Basic Details</h5>
        <div class="field">
          <li><span style="color:red">* </span><%= f.label :interview_date, 'Interview Date' %>
              <%= f.date_field :interview_date, :class => 'datepicker', required: true %></li>
          <li><span style="color:red">* </span><%= f.label :interview_type, 'Interview Type' %>
              <%= f.select :interview_type, Interview.interview_types.map { |key, value| [key.humanize, key] }, :prompt => "---", required: true %></li>
          <li><%= f.label :is_followup_needed, 'Is followup needed?' %>
              <p>
                <%= f.radio_button :is_followup_needed, true %>
                <%= f.label 'is_followup_needed_true', 'Yes' %>
              </p>
              <p>
                <%= f.radio_button :is_followup_needed, false %>
                <%= f.label 'is_followup_needed_false', 'No' %>
              </p>
          </li>
        </div>
        <!-- PRIMARY CONTACT INFORMATION -->
        <h5 class="form-header">Primary Contact</h5>
        <div class="field">
          <li><%= f.label :primary_contact_name, 'Primary contact name' %>
              <%= f.text_field :primary_contact_name %></li>
          <li><%= f.label :primary_contact_title, 'Primary contact title' %>
              <%= f.text_field :primary_contact_title %></li>
          <li><%= f.label :primary_contact_email, 'Primary contact email' %>
              <%= f.text_field :primary_contact_email %></li>
          <li><%= f.label :primary_contact_phone, 'Primary contact phone' %>
              <%= f.telephone_field :primary_contact_phone %></li>
        </div>

        <!-- INTERVIEW PREPAREDNESS & PROFESSIONALISM -->
        <h5 class="form-header">Preparedness &amp; Professionalism</h5>
        <div class="field">
          <li><%= f.label :questions_to_ask, 'What questions do you want to ask during your interview?' %>
              <%= f.text_area :questions_to_ask, :class => "materialize-textarea" %></li>
          <li><%= f.label :thankyou_letter, 'Submitted Thank You Letter' %>
              <%= f.text_area :thankyou_letter, :class => "materialize-textarea" %></li>
        </div>

        <!-- CODING CHALLENGE DETAILS  -->
        <h5 class="form-header">Coding Challenge</h5>
        <div class="field">
          <li><%= f.label :coding_challenge_url %>
              <%= f.text_field :coding_challenge_url %></li>
          <li><%= f.label :coding_challenge_due_date %>
              <%= f.datetime_local_field :coding_challenge_due_date %></li>
          <li><%= f.label :coding_challenge_prompt %>
              <%= f.text_area :coding_challenge_prompt, :class => "materialize-textarea" %></li>
          <li><%= f.label :is_challenge_completed, 'Is this challenge completed?' %>
              <p>
                <%= f.radio_button :is_challenge_completed, true %>
                <%= f.label 'is_challenge_completed_true', 'Yes' %>
              </p>
              <p>
                <%= f.radio_button :is_challenge_completed, false %>
                <%= f.label 'is_challenge_completed_false', 'No' %>
              </p>
          </li>
        </div>

        <!-- MORE DETAILS  -->
        <h5 class="form-header">Notes</h5>
        <div class="field">
          <li><%= f.text_area :notes, :class => "materialize-textarea" %></li>
        </div>
        <div class="col s12 center-align"><%= f.submit 'Save Changes', :class => 'waves-effect waves-light btn' %></div>
      </ul>
    <% end %>
  </div>
</div>
