<h1>THESE ARE ALL INTERVIEWS belonging to <%= @user.email %>!</h1>

<%= link_to 'Back', goals_path %>

<%= link_to 'Add an interview', new_interview_path %>

<% if @interviews.length > 0 %>
  <% @interviews.each do |i| %>
    <%= link_to 'See More Details', interview_path(i) %>
    <ul>
      <li>Company: <%= i.job_application.company_name %></li>
      <% if i.interview_date %>
        <li>Interview date: <%= i.interview_date %></li>
      <% end %>
      <% if i.interview_type %>
        <li>Type: <%= i.interview_type %></li>
      <% end %>
      <% if i.is_followup_needed %>
        <li>Is followup needed?: <%= i.is_followup_needed %></li>
      <% end %>
      <!-- PRIMARY CONTACT INFO  -->
      <h2>Primary Contact Info</h2>
      <% if i.primary_contact_name %>
        <li>Primary Contact Name: <%= i.primary_contact_name %></li>
      <% end %>
      <% if i.primary_contact_title %>
        <li>Primary Contact Title: <%= i.primary_contact_title %></li>
      <% end %>
      <% if i.primary_contact_email %>
        <li>Primary Contact Email: <%= i.primary_contact_email %></li>
      <% end %>
      <% if i.primary_contact_phone %>
        <li>Primary Contact Phone: <%= i.primary_contact_phone %></li>
      <% end %>
      <!--CODING CHALLENGE INFO  -->
      <h2>Coding Challenge Details</h2>
      <% if i.coding_challenge_url %>
        <li>Link to coding challenge: <%= i.coding_challenge_url %></li>
      <% end %>
      <% if i.coding_challenge_prompt %>
        <li>Coding challenge prompt: <%= i.coding_challenge_prompt %></li>
      <% end %>
      <% if i.coding_challenge_due_date %>
        <li>Coding challenge due date: <%= i.coding_challenge_due_date %></li>
      <% end %>
      <% if i.is_challenge_completed %>
        <li>Challenge done?: <%= i.is_challenge_completed %></li>
      <% end %>
      <h2>Preparedness &amp; Professionalism </h2>
      <% if i.thankyou_letter %>
        <li>Thank You letter: <%= i.thankyou_letter %></li>
      <% end %>
      <% if i.questions_to_ask %>
        <li>Questions to ask: <%= i.questions_to_ask %></li>
      <% end %>
      <% if i.notes %>
        <li>Notes: <%= i.notes %></li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <h2>Don't worry - you'll be interviewing soon enough.</h2>
<% end %>
