<% if @goal %>
  <p>GOALS <span class="right"><%= link_to 'Edit', edit_goal_path(@goal) %></span></p>
    <div class="col s12">
      <label>Today I will...</label>
      <div class="col s12 goals-box">
        <% if @goal.daily_goal.size > 0 %>
          <p><i class="fa fa-sun-o teal-theme" aria-hidden="true"><span style="padding-left: 19px"></i><%= grammarize(@goal.daily_goal) %></span></p>
        <% end %>
      </div>
    </div>
    <div class="col s12">
      <label>This week I will...</label>
      <div class="col s12 goals-box">
        <% if @goal.weekly_goal.size > 0 %>
          <p><i class="fa fa-clock-o teal-theme" aria-hidden="true"></i><span style="padding-left: 19px"><%= grammarize(@goal.weekly_goal) %></span></p>
        <% end %>
      </div>
    </div>
    <div class="col s12">
      <label>By <%= @goal.longterm_goal_date.strftime("%m/%d/%y") %> I will...</label>
      <div class="col s12 goals-box">
        <% if @goal.longterm_goal.size > 0 %>
          <p><i class="fa fa-calendar-o teal-theme" aria-hidden="true"><span style="padding-left: 19px"></i><%= grammarize(@goal.longterm_goal) %></span></p>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="col s12 center-align" style="margin-top: 90px">
      <p style="font-size:1.2em; margin-bottom: 40px">Interview prep is important to us.</p>
      <%= link_to 'PRACTICE QUESTIONS', questions_path, :class => 'waves-effect waves-light btn', :style => "color: white !important" %>
    </div>
  <% end %>
