<p>INTERVIEWS<span class="teal-theme right"><%= link_to 'View All', interviews_path %></span></p>
<div class="col s12" id="interview-numbers-box">
  <div id="myProgress">
    <div id="myBar">
      <span style="font-size: 2em; color: #1b1212"><%= @interviewing_count %></span>
    </div>
  </div>
  <div class = "col s12 center-align">
    <% if @interviewing_count == 1 %>
      <span style="font-size: 0.8em">INTERVIEW TOTAL</span>
    <% else %>
      <span style="font-size: 0.8em">TOTAL INTERVIEWS</span>
    <% end %>
  </div>
  <div class='col s12 center-align'>
    <% if @interviewing_count > 0 %>
      <% if @inperson_ints == 0 && @online_ints == 0 && @phone_ints > 0 %>
        <p class="motivational1">You're making progress!</p>
      <% elsif @inperson_ints == 0 && @online_ints > 0 %>
        <p class="motivational1">Things are looking good!</p>
      <% elsif @inperson_ints > 0 %>
        <p class="motivational2">You're very close to scoring that job!</p>
      <% end %>
    <% else %>
        <p class="motivational2">You'll be interviewing soon enough.</p>
    <% end %>
    <p style="font-size: 0.9em">Practice interview questions <%= link_to 'now', questions_path %>.</p>
  </div>
  <div class="col s12" style="margin-top: 8px">
    <p>PHONE <span class="teal-theme right"><%= @phone_ints %></span></p>
    <p>ONLINE <span class="teal-theme right"><%= @online_ints %></span></p>
    <p>IN-PERSON <span class="teal-theme right"><%= @inperson_ints %></span></p>
  </div>
</div>
