<ul id="slide-out" class="side-nav fixed" style="background-color:#2B2B2B">
  <div class="col s12 center-align"><%= link_to goals_path do %><img src='https://s-media-cache-ak0.pinimg.com/originals/94/a0/b6/94a0b65dcdf1572558ac1329c193e108.png' style="width:110px; margin-top: 25px"><% end %></div>
  <li class="center-align teal-theme"><p>OCTOBOARD</p></li>
  <li><%= render 'partials/search_bar' %></li>
  <li><%= link_to job_applications_path do %><i class="fa fa-file-text nav-i" aria-hidden="true"></i> APPLICATIONS<% end %></li>
  <li><%= link_to interviews_path do %><i class="fa fa-users nav-i" aria-hidden="true"></i> INTERVIEWS<% end %></li>
  <li><%= link_to questions_path do %><i class="fa fa-comments nav-i" aria-hidden="true"></i> Q+A<% end %></li>
  <li><%= link_to user_path(current_user) do %><i class="fa fa-cog nav-i" aria-hidden="true"></i> SETTINGS<% end %></li>
  <li><%= link_to 'SIGN OUT', logout_path %></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-2x fa-bars" aria-hidden="true"></i></a>
