<div class='col s12 center-align'>
  <% if @user.image %>
    <%= image_tag @user.image, :class => 'circle z-depth-5', :id => 'profile-img' %>
  <% end %>
  <br>
  <span class="teal-theme" style="margin-right: 10px">
    <% if @user.job_status == 'seeking' %>
    <i class="fa fa-circle-o" aria-hidden="true"></i>
  <% else %>
    <i class="fa fa-circle" aria-hidden="true"></i>
  <% end %>
  <%= @user.job_status.upcase %>
  </span>
</div>
<div class="col s12">
  <% if @user.goals.count > 0 %>
    <p>APPS PER DAY GOAL <span class="right teal-theme"><%= @goal.applications_per_day %></span></p>
    <p>GOAL HITTING RATE <span class="right teal-theme"><%= @goal_hitting_rate %>%</span></p>
  <% end %>
  <p>OCTOPOWER <span class="right teal-theme"><%= @octopower %>%</span></p>
</div>
