<h1>User Profile for <%= @user.first_name.capitalize %></h1>

<%= link_to 'Edit Profile', edit_user_registration_path %>
<%= link_to 'Back', goals_path %>

<ul>
  <li>First name: <%= @user.first_name %></li>
  <li>Last name: <%= @user.last_name %></li>
  <li>Email: <%= @user.email %></li>
  <li>Job Status: <%= @user.job_status %></li>
  <li>LinkedIn URL: <%= @user.linkedin_url %></li>
  <li>Github URL: <%= @user.github_url %></li>
  <li>Portfolio URL: <%= @user.portfolio_url %></li>
  <li><%= @user.other_url_name %>: <%= @user.other_url %></li>
  <li>Image URL: <%= @user.image %></li>
</ul>
