<h1>These are all job apps belonging to <%= @user.email %>!</h1>

<%= link_to 'Back', goals_path %>
<%= link_to 'Add an application', new_job_application_path %>

<% if @applications.length > 0 %>
  <% @applications.each do |app| %>
    <ul>
      <%= link_to 'View more details', job_application_path(app) %>
      <% if app.company_name %>
      <li>Company name: <%= app.company_name %></li>
      <% end %>
      <% if app.job_title %>
      <li>Position: <%= app.job_title %></li>
      <% end %>
      <% if app.date_applied %>
        <li>Date applied: <%= app.date_applied %></li>
      <% end %>
      <% if app.stage %>
        <li>Stage: <%= app.stage.humanize %></li>
          <% if app.stage == 'interviewing' || app.interviews.count > 0 %>
            <li> Number of total interviews: <%= app.interviews.count %></li>
          <% end %>
        <% end %>
      <% if app.location %>
        <li>Located in: <%= app.location %></li>
      <% end %>
      <% if app.job_post_url %>
        <li>URL: <%= app.job_post_url %></li>
      <% end %>
      <% if app.job_description %>
        <li>Description: <%= app.job_description %></li>
      <% end %>
      <% if app.job_requirements %>
        <li>Requirements: <%= app.job_requirements %></li>
      <% end %>
      <% if app.application_method %>
        <li>Application method: <%= app.application_method.humanize %></li>
      <% end %>
      <% if app.why_interested %>
        <li>Why are you interested?: <%= app.why_interested %></li>
      <% end %>
      <% if app.requested_salary %>
        <li>Requested salary: <%= app.requested_salary %></li>
      <% end %>
      <% if app.submitted_cover_letter %>
        <li>Cover letter: <%= app.submitted_cover_letter %></li>
      <% end %>
      <% if app.relevant_work_history %>
        <li>Relevant work history: <%= app.relevant_work_history %></li>
      <% end %>
      <% if app.tech_stack %>
        <li>Tech stack: <%= app.tech_stack %></li>
      <% end %>
      <% if app.notes %>
        Notes: <%= app.notes %>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <h2>You better start applying!</h2>
<% end %>
