<div class="col s12 page">
  <p>
    <%= link_to goals_path, :class => 'no-mobile-display' do %><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK<% end %>
    <span class="right"><%= link_to job_applications_path do %><i class="fa fa-file-text nav-i" aria-hidden="true"></i> VIEW ALL JOB APPS <% end %></span>
  </p>



  <% if @search_results.length > 0 %>
  <h4 class="center-align" style="margin: 50px 50px;">We found <%= grammarize_result_num(@search_results.count) %> matching your search.</h4>
      <ul class="collection">
        <% @search_results.each do |app| %>
          <li class="collection-item avatar">
            <div class='circle' id="side-date"><%= app.date_applied.strftime("%m/%d") %></div>
            <span class="title"><%= app.company_name %></span>
            <p><%= app.job_title %><br>
            <%= link_to 'View more details', job_application_path(app) %></p>
            <%= link_to edit_job_application_path(app), :class => "secondary-content" do %><i class="fa fa-pencil-square-o" aria-hidden="true"></i><% end %>
          </li>
        <% end %>
      </ul>
      <%= will_paginate @search_results %>
      <% else %>

    <h4 class="center-align" style="margin-top: 50px">There were no results matching your search.</h4>
    <p class="center-align" style="margin-top: 50px">Please search by company name, position title, or tech stack.</p>
  <% end %>
</div>
