<div class="col l12 center-align">
  <h4><%= greet %>, <%= @user.first_name.upcase %>!</h4>
</div>

<div class="col s12 l12">
  <div class="row">
    <div class="col s12 l4 grey-box goals-height-top top-row-margin">
      <%= render 'partials/profile_box' %>
    </div>
    <div class="col s12 l4 grey-box goals-height-top top-row-margin" id: "applications-box" >
      <%= render 'partials/applications' %>
    </div>
    <div class="col s12 l3 grey-box goals-height-top top-row-margin">
                    <table style="margin-top: 10px">
                  <thead style="background-color: grey;">
                    <tr>
                        <th>REMINDER</th>
                        <th>DATE</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td><%= @upcoming_challenges.count %></td>
                      <td>Eclair</td>
                    </tr>
                    <tr>
                      <td>Alan</td>
                      <td>Jellybean</td>
                    </tr>
                    <tr>
                      <td>Jonathan</td>
                      <td>Lollipop</td>
                    </tr>
                  </tbody>
                </table>
    </div>
  </div>
</div>

<div class="col s12 l12">
  <div class="row">
    <div class="col s12 l4 grey-box goals-height-mid middle-row-margin bottom-margin">
      <%= render 'partials/goals' %>
    </div>
    <div class="col s12 l4 grey-box goals-height-mid middle-row-margin bottom-margin">
      <p>INTERVIEWS<span class="teal-theme right"><%= link_to 'View All', interviews_path %></span></p>
      Number of companies I'm interviewing with: <%= @interviewing_count %>
      <div id='progress'></div>

    </div>
    <div class="col s12 l3 grey-box goals-height-mid middle-row-margin">
      CODE CHALLENGES
    </div>
  </div>
</div>

<div class="col s12 m12 l12">
  <div class="row">
    <div class="col s12 l4 resources-height3 grey-box2 bottom-margin" id="resources">
      <p>RESOURCES<span class="teal-theme right"><%= link_to 'Edit', edit_user_registration_path(@user) %></span></p>
      <div class="col s12"><a href="https://docs.google.com/document/d/1dllfOWUd34cL3Q2Qxy2RCGdabWNivziF3eJA4CzoQCA">Essential Job Resources</a></div>
        <% if @user.linkedin_url || @user.github_url || @user.portfolio_url || @user.other_url %>
          <p>QUICK LINKS: </p>
          <% if @user.linkedin_url.size > 0 %>
            <div class="col s12"><%= link_to 'My LinkedIn', check_for_http(@user.linkedin_url), :target => "_blank" %></div>
          <% end %>
          <% if @user.github_url.size > 0 %>
            <div class="col s12"><%= link_to 'My Github', check_for_http(@user.github_url), :target => "_blank" %></div>
          <% end %>
          <% if @user.portfolio_url.size > 0 %>
            <div class="col s12"><%= link_to 'My Portfolio', check_for_http(@user.portfolio_url), :target => "_blank" %></div>
          <% end %>
        <% end %>
      </div>
    <div class="col s12 l7">
      <div class="col s12 l12 goals-height2 grey-box2 bottom-margin" style="margin-left: 10px">
        QUESTIONS
      </div>
      <div class="col s12 l12 goals-height2 grey-box2" style="margin-left: 10px">
        BRAIN TEASER
      </div>
    </div>
  </div>
</div>
