<div class="page">
  <div class="col s12 center-align">
    <h4 id="goals-header"><%= greet %>, <%= @user.first_name.upcase %>!</h4>
  </div>

  <div class="col s12 m12 l12">
    <div class="row">
      <div class="col s12 l4 grey-box goals-height-top top-row-margin">
        <%= render 'partials/profile_box' %>
      </div>
      <div class="col s12 l3 grey-box goals-height-top top-row-margin" id="applications-box" >
        <%= render 'partials/applications' %>
      </div>
      <div class="col s12 l4 grey-box goals-height-top top-row-margin">
        <%= render 'partials/reminders_box' %>
      </div>
    </div>
  </div>

  <div class="col s12 m12 l12">
    <div class="row flex-s" id="mid-block">
      <div class="col s12 l4 grey-box goals-height-mid middle-row-margin bottom-margin">
        <%= render 'partials/goals' %>
      </div>
      <div class="col s12 l3 grey-box goals-height-mid middle-row-margin bottom-margin" id="resources">
        <%= render 'partials/resources_box' %>
      </div>
      <div class="col s12 l4 grey-box goals-height-mid middle-row-margin bottom-margin" id="interview-box">
        <%= render 'partials/interview_box' %>
      </div>
    </div>
  </div>
</div>
