<div class="col l12 center-align">
  <h4><%= greet %>, <%= @user.first_name.upcase %>!</h4>
</div>

<div class="col s12 l12">
  <div class="row">
    <div class="col s12 l4 grey-box goals-height-top top-row-margin">
      <%= render 'partials/profile_box' %>
    </div>
    <div class="col s12 l4 grey-box goals-height-top top-row-margin">
      APPLICATIONS
      Number of applications pending: <%= @pending_count %>
    </div>
    <div class="col s12 l3 grey-box goals-height-top top-row-margin">
      REMINDERS
    </div>
  </div>
</div>

<div class="col s12 l12">
  <div class="row">
    <div class="col s12 l4 grey-box goals-height-mid middle-row-margin">
      <p>GOALS <span class="right"><%= link_to 'Edit', edit_goal_path(@goal) %></span></p>
        <% if @goal %>
          <div class="col s12">
            <label>Today I will...</label>
            <div class="col s12 goals-box">
              <% if @goal.daily_goal %>
                <p><i class="fa fa-sun-o teal-theme" aria-hidden="true"></i> <%= @goal.daily_goal %></p>
              <% end %>
            </div>
          </div>
          <div class="col s12">
            <label>This week I will...</label>
            <div class="col s12 goals-box">
              <% if @goal.weekly_goal %>
                <p><i class="fa fa-clock-o teal-theme" aria-hidden="true"></i> <%= @goal.weekly_goal %></p>
              <% end %>
            </div>
          </div>
          <div class="col s12">
            <label>By <%= @goal.longterm_goal_date.strftime("%m/%d/%y") %> I will...</label>
            <div class="col s12 goals-box">
              <% if @goal.longterm_goal %>
                <p><i class="fa fa-calendar-o teal-theme" aria-hidden="true"></i><%= @goal.longterm_goal %></p>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
    <div class="col s12 l4 grey-box goals-height-mid middle-row-margin">
      INTERVIEWS
      Number of companies I'm interviewing with: <%= @interviewing_count %>

    </div>
    <div class="col s12 l3 grey-box goals-height-mid middle-row-margin">
      CODE CHALLENGES
    </div>
  </div>
</div>

<div class="col s12 l12">
  <div class="row">
    <div class="col s12 l4 goals-height grey-box2">
      RESOURCES
      <li><a href="https://docs.google.com/document/d/1dllfOWUd34cL3Q2Qxy2RCGdabWNivziF3eJA4CzoQCA">Job Resources</a></li>
    </div>
    <div class="col s12 l7">
      <div class="col s12 l12 goals-height2 grey-box2">
        QUESTIONS
      </div>
      <div class="col s12 l12 goals-height2 grey-box2">
        BRAIN TEASER
      </div>
    </div>
  </div>
</div>
