<div class="col s12 page">
  <%= render '/partials/flash_messages' %>

  <%= link_to 'Back', goals_path, :class => 'no-mobile-display' %>

  <% if current_user.goals.count == 0 %>

  <p>You should only set <a href="https://medium.com/@ReigningIt/how-to-set-smart-goals-a-goal-setting-process-to-achieve-your-dreams-74015310c3dd" target="_blank">SMART</a> goals during your job search.
  SMART goals help cure Impostor Syndrome as they are designed to help you build progress and apply growth mindset to your current challenges. </p>

    <%= form_for @goal, method: :post do |f| %>
      <ul>
        <li><%= f.label :daily_goal, 'Today I will...' %>
            <%= f.text_field :daily_goal, :maxlength => 34, :size => 34, :placeholder => 'add more details to my resume.', :required => true %></li>
        <li><%= f.label :applications_per_day, 'I want to send out' %>
            <%= f.number_field :applications_per_day, :style => 'width: 10%; text-align: center', :required => true %> <%= f.label :applications_per_day, 'applications per day.' %></li>
        <li><%= f.label :weekly_goal, 'By next week I will....' %>
            <%= f.text_field :weekly_goal, :maxlength => 34, :size => 34, :placeholder => 'work through 15 algorithms.', :required => true  %></li>
        <li><%= f.label :longterm_goal_date, 'By' %>
              <%= f.date_field :longterm_goal_date, :class => 'datepickerGoals', :required => true  %>
              <%= f.label :longterm_goal, 'I will...' %>
              <%= f.text_field :longterm_goal, :maxlength => 34, :size => 34, :placeholder => 'land a Software Engineering job.', :required => true  %></li>
        <li><%= f.submit 'Save', :class => 'waves-effect waves-light btn' %></li>
      </ul>
    <% end %>
  <% else %>
    <div class="container center-align">
      <h3>Please <%= link_to 'modify', edit_goal_path(current_user.goals.first) %> your current goals instead.</h3>
    </div>
  <% end %>
</div>
